ul{
  list-style: none;
}
li{
  font-size: 1.5rem;
}
span{
  font-weight: bold;
}

.course{
  border : 1px solid gray;
  display: flex;
  justify-content: start;
  background-color: rgb(158, 92, 92);
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}
